
      .navbar-brand img{
        margin-left: 20%;
        transition: transform .2s;
        width: 150px;
        height: auto;
      }
      .navbar-brand img:hover{
        transform:scale(1.5);
      }
    footer {
      background-color: #f2f2f2;
      padding: 20px;
      text-align: center;
    }
    .social-icons img {
      height: 30px;
      margin: 0 10px;
    }
    .nav-item a:hover{
      color: black;
    }
